body {
	background: #996699;
}
a:link {
	color: #ECECFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #ECECFF;
}
a:hover {
	text-decoration: none;
	color: #FFFF00;
}
.kage {
	background: #333366;
}
.moji1 {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	color: #ECECFF;
}
